[build]
  publish = "."
  command = ""

# Garante que arquivos HTML sejam servidos corretamente
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
